$body-background-resize: "(max-width: 970px)";

$medium: "(max-width: 1200px)";
$small: "(max-width: 992px)";
$x-small: "(max-width: 767px)";

$under-tablet: "(max-width: 767px)";

$under-phone: "(max-width: 520px)";


$flex-break: "(max-width:1024px)";
