/************************ HEADER ********************/
$header-height: 100px;
$logo-width: 125px;
$logo-width-responsive: 90px;

/************************ MENU ********************/
$menu-height: 2000px;
$menu-width: 300px;

$menu-btn-width: 40px;
$menu-btn-height: 50px;

$menu-btn-top: ( $header-height - $menu-btn-height )/2;

$menu-btn-span: 3px;
$menu-btn-span-space: 10px;

$menu-btn-span-top: ( $menu-btn-height - ( 3 * $menu-btn-span ) - ( 2 * $menu-btn-span-space ) )/2;

$menu-btn-right: 15px;
$menu-list-list: 15px;

/************************ SHOWLIST ********************/


/************************ SHOWPAGE ********************/
$section-margin-top: 25px;

$award-item-height: 60px;

$video-height: 350px;

$episode-height: 300px;
$episode-spacing: 15px;

$arrow-width: 22px;
$arrow-height: 35px;
$arrow-margin: 5px;

$arrow-top-large: 243/2 - $arrow-height/2;
$arrow-top-medium: 200/2 - $arrow-height/2;
$arrow-top-small: 151/2 - $arrow-height/2;

/************************ FOOTER ********************/
$footer-margin-top: 50px;
