.header{
	height: $header-height;
	z-index: 10;
	position: relative;
	@include my-flex;
	@include my-align-items(center,center);

	.logo{
		background: $logo-background;
		width: $logo-width;
		height: $header-height;
		display: inline-block;
		float:left;


		@media #{$under-tablet} {
			width: $logo-width-responsive;
			background-size: 100%;
		}
	}

	h1{
		float: left;
		margin: 5px 0 0 20px;
	}

	.btn-wrapper{
		margin-top: 5px;
		@include my-flex-grow(1);

		.menu-btn{
			float: right;
			height: $menu-btn-height;
			width: $menu-btn-width;
			display: block;
			pointer-events: auto;
			cursor: pointer;
			@include my-flex;
			@include my-align-items(center,center);
			@include my-justify-content(center,center);
			@include my-flex-direction(column);

			span{
				display:block;
				background: $menu-btn-color;
				height: $menu-btn-span;
				margin-bottom: $menu-btn-span-space;
				width: 100%;

				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
}
