.showlist{
	margin-left: 35px;
	margin-right: 35px;

	.overlay{
		//background: rgba(0,0,0,1);
		position: absolute;
		width: 100%;
		height: $header-height;
		top: 0;
		left: 0;
		z-index: 0;
		@include opacity(.15);
		transition: background-color .5s;
	}
	.wrapper{
		//padding-top: (735/(185*8))*100%;
		position: relative;

		padding-top: 0;

		& .content{
			//position: absolute;
			//top: 0;
			//left: 0;
			@include my-flex;
			@include my-align-items(center,center);
			//height: 100%;
			width: 100%;

			@include my-flex-wrap(wrap);
			height: inherit;
			position: relative;

			&:hover{
				.show{
					@include opacity(.6);

					@media #{$flex-break}{
						//@include opacity(1);
					}
				}
			}

			.show{
				background: $black;
				//@include my-flex-grow(1);
				//height: 100%;
				transition: all .5s;
				position: relative;

				width:32.3%;
				margin: .5%;
				@include my-flex-grow(0);
				//transition: none;

				@media #{$flex-break}{
					// width:32%;
					// margin: .5%;
					// @include my-flex-grow(0);
					// transition: none;
				}

				@media #{$small}{
					width:49%;
				}

				@media #{$under-phone}{
					width:99%;
				}

				// @media #{$flex-break}{
				// 	&:nth-child(1) a{
				// 		background-image: url(../img/key/americangods.jpg) !important;
				// 	}
				// 	&:nth-child(2) a{
				// 		background-image: url(../img/key/whiteprincess.jpg) !important;
				// 	}
				// 	&:nth-child(3) a{
				// 		background-image: url(../img/key/themissing.jpg) !important;
				// 	}
				// 	&:nth-child(4) a{
				// 		background-image: url(../img/key/blacksails.jpg) !important;
				// 	}
				// 	&:nth-child(5) a{
				// 		background-image: url(../img/key/ashvsevildead.jpg) !important;
				// 	}
				// 	&:nth-child(6) a{
				// 		background-image: url(../img/key/blunttalk.jpg) !important;
				// 	}
				// 	&:nth-child(7) a{
				// 		background-image: url(../img/key/survivorsremorse.jpg) !important;
				// 	}
				// 	&:nth-child(8) a{
				// 		background-image: url(../img/key/power.jpg) !important;
				// 	}
				// }


				a{
					width: 100%;
					height: 100%;
					display: block;
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center center;
					position: relative;
					overflow: hidden;

					//@media #{$flex-break}{
						padding-top: (320/500)*100%;
				//	}



					.name{
						position: absolute;
						right: 0;
						top: 0;
						height: 75%;
						width: 100%;
						background-repeat: no-repeat;
						background-size: contain;
						background-position: center right;
						transform: translateX(50%);
						@include opacity(.01);
						transition: all .3s ease-in;
					}

					.copy{
						//width: 70%;
						//position: absolute;
						//bottom: 15%;
						//left: 50%;
						//transform: translateX(-50%);

						//@media #{$flex-break}{
							@include my-flex;
							@include my-align-items(center,center);
							@include my-justify-content(center,center);
							@include my-flex-direction(column);
							width: 101%;
							height: 100%;
							top:0;
							position: absolute;
						//}

						h3{
							width: 70%;
							font-size: 36px;
							text-align: center;
							font-weight: 900 !important;
							margin:0;
							//display: none;
							@include opacity(.01);

							display: block;

							@media #{$flex-break}{
								font-size: 28px;
							}
						}

						.ta{
							padding-top: (107/200)*100%;
							background-repeat: no-repeat;
							background-position: center bottom;
							background-size: contain;
							position: relative;
							@include opacity(.01);
							//transition: opacity .3s ease-in;

							@media #{$flex-break}{
								display: none;
							}
						}

						p{

							width: 100%;
							margin: 10px auto;
							text-align: center;
							@include opacity(.01);
							color: $light-grey;
							//transition: opacity .3s ease-in;
							font-size: 21px;

							@media #{$flex-break}{
								font-size: 18px !important;
								width: 70%;
							}
						}
					}

				}

				&:hover{
					//@include my-flex-grow(1.5);
					z-index: 20;
					@include opacity(1);
					@include box-shadow(0 0 50px 5px rgba(0,0,0,.5));

					//width: 45%;

					//@media #{$flex-break}{
						//@include my-flex-grow(1);
					//}

					a{
						.copy{
							//@media #{$flex-break}{
								background: rgba($black,.75);
								transition: background .3s ease-in .3s;
							//}
						}

						.name{
							transform: translateX(0);
							@include opacity(1);

							transition: all .3s ease-out 3s;
						}

						.ta{
							@include opacity(1);
							transition: opacity .3s ease-in .9s;
						}

						p{
							@include opacity(1);
							transition: opacity .3s ease-in 1s;

							// @media #{$flex-break}{
							// 	//transition: opacity .3s ease-in .6s;
							// }
						}

						h3{
							@include opacity(1);
							transition: opacity .3s ease-in .75s;
						}
					}
				}
			}
		}
	}
}

html.touch{
	.showlist .wrapper .content .show a .copy {
		display: none;
	}
}
